@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bazaar_Store.Models.ProductCategoryDto

<label>Name</label>
<input asp-for="@Model.Name" />
    <br />
<label>BarCode</label>
<input asp-for="@Model.BarCode" />
    <br />
<label>Price</label>
<input asp-for="@Model.Price" />
    <br />
    <br />
 <label>
        <span>
            Choose a category:
        </span>
    </label>
       <select asp-for = "@Model.CategoryName">
      @foreach (var item in Model.Categories)
       {
        <option value="@item.Name">@item.Name</option>   
       }
    </select>
    <br />
<label>Description</label>
<input asp-for="@Model.Description" />
    <br />
   <label>
        <span>Photo</span>
    </label>
    <br />
    <input asp-for="@Model.File"/>
    <br />

