@page
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model Bazaar_Store.Pages.Accounts.ProductModel
@{
}

@if (Model.ProductList != null)
{
    foreach (var product in Model.ProductList)
    {
<table class="table">
    <thead>
        <th>
        @Html.DisplayNameFor(model => product.Name)
        </th>
    <th>
    </th>
    <th>
        @Html.DisplayNameFor(model => product.Price)
    </th>
    <th>
        @Html.DisplayNameFor(model => product.CategoryName)
    </th>
    <th>
        @Html.DisplayNameFor(model => product.URL)
    </th>

    <tr>
        <a asp-page="/ProductDetails/Details" asp-route-id="@product.Id">
            @if (product.URL != "")
            {
                <img src="@product.URL" width=200 />
            }
        </a>
    </tr>
    @*</tr>*@
    </thead>
    <tbody>

    <th>
        @product.Name
    </th>

    <th>
        @product.Price
    </th>

    <th>
        @product.CategoryName
    </th>

    <th>
        @product.URL
    </th>



    </tbody>
</table>


        <button type="button">Details</button>
        <button type="button">Add Cart</button>


    }
}

