@using Bazaar_Store.Models
@model List<User>
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers


<table>
    <tr>
        <th>ID</th>
        <th>UserName</th>
        <th>Password</th>
        <th>Email</th>
        <th>PhoneNumber</th>



    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a asp-controller="Home" asp-action="Index" asp-route-cartID=@item.Id asp-route-userID=@item.UserName>
                    @item.Id @item.UserName @item.Email @item.PhoneNumber @item.PhoneNumber
                </a>
            </td>
        </tr>
    }
</table>